.biblioComponent{
    display: flex;
    gap: 20px;

    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.links{
    display: grid;
    justify-content: center;
}
.title h2{
    font-size: 40px;
}

a{
    padding: 8px 0px;
}

@media screen and (max-width: 767px){
    .biblioComponent{
        display: grid;
        grid-template-columns: 1fr;
    }

    .links{
        padding-left: 0;
    }

    .title h2{
        font-size: 24px;
    }
}