.contentDevelop{
    display: grid;
    grid-template-rows: 1fr;
    border-bottom: solid 10px #4caf50;
}

.subtitle{
    text-align: center;
}

.image1{
    width: 520px;
}
.image{
    display: grid;
    align-items: center;
}



@media screen and (max-width: 767px){
    .contentDevelop{
        grid-template-columns: 1fr;
    }
}