.container {
  max-width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para tabletas y pantallas de escritorio */

header{
  display: grid;
  grid-template-columns: 35% 45% 20%;
  align-items: center;
  gap: 10px;
}

.imgUd{
  align-items: center;
}
.imgUd img{
  width: 400px;
}

.authors{
  font-size: 14px;
}
#navHeader {
  padding: 20px;
  text-align: center;
}

.titleBox{
  position: relative;
  top: -25px;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex-item {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.flex-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.title {
  font-size: 44px;
  text-align: center;
}

.subtitle{
  text-align: center;
}

.text {
  font-size: 20px;
  margin-bottom: 40px;
}

.principalBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table{
  position: relative;
  top: -10px;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

input {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

label{
  font-size: 20px;
}

#generateBtn {
  background-color: #4caf50;
  color: #fff;
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#generateBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#result {
  font-size: 20px;
  text-align: center;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {

  .container {
    padding: 20px;
  }

  .title {
    font-size: 28px;
    text-align: center;
  }

  .authors{
    margin-bottom: 25px;
  }
  
  .text {
    font-size: 16px;
  }

  .principalBox{
    flex-direction: column;
  }

  .formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 30px;
  }

  input {
    margin-bottom: 10px;
  }

  #generateBtn {
    margin-top: 10px;
  }

  header{
    grid-template-columns: 1fr;
  }
}

